extends ../components/base/_skeleton

block variables
	-
		htmlClass[ htmlClass.indexOf( 'rd-navbar-sidebar-active' ) ] = '';
		pageName = '404';

block page
	#particles-container
	section.section-one-screen.section-lg
		.container
			.row.justify-content-center
				.col-lg-8.col-xl-7
					h1.text-center 404!
					h2.text-center Page Not Found.
					.form-group
						input.form-control( type='text', name='search', placeholder='Enter your search request' )
					.row.row-30.text-center
						.col-sm-6.text-sm-left
							a( href='index.html' ): img( src='images/logo-1-black-217x38.png', width='217', height='38', alt='' )
						.col-sm-6.text-sm-right
							ul.list-inline
								li.list-inline-item: a.fa-facebook-square.text-primary.h2( href='#' )
								li.list-inline-item: a.fa-twitter-square.text-info.h2( href='#' )
								li.list-inline-item: a.fa-google-plus-square.text-danger.h2( href='#' )
								li.list-inline-item: a.fa-envelope-square.text-warning.h2( href='#' )

block sidebar
