extends ../components/base/_skeleton

block variables
	-
		htmlClass[ htmlClass.indexOf( 'rd-navbar-sidebar-active' ) ] = '';
		pageName = 'Confirmation';

block page
	#particles-container
	section.section-lg.section-one-screen
		.container
			.row.justify-content-center
				.col-md-10.col-lg-7.col-xl-6
					.row.align-items-center
						.col-sm-7
							h2
								span.fa-check.text-success
								|  Account Confirmed.
						.col-sm-5.text-sm-right
							a( href='#' ) demolink.org
							span.px-2 |
							a( href='#' ) support
					.panel
						.panel-header
							h3.panel-title Hello Justin
						.panel-body
							p Sed ut perspiciatis unde omnis iste natus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nisi massa. Sed gravida arcu et eros euismod aliquam. Cras at fermentum velit. Praesent ligula nibh, venenatis non vulputate sit amet, bibendum non risus.
							.text-right.mt-1
								button.btn.btn-primary.btn-rounded( type='button' ) SIGN IN
					p.text-center
						a( href='#' ) Need More Help?
					p.text-center
						| Have any questions?
						a( href='#' ) Contact Us

block sidebar
