extends ../components/base/_skeleton
include ../components/dropdown/_dropdown
include ../components/input/_input
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Messages';

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section
		.row.no-gutters
			.col-md-4.col-lg-3.col-xxl-2.bg-lighter
				.px-3.py-4
					button.btn.btn-block.btn-danger Quick compose

					.list-block-container.list-block-lg
						.list-block-title Your privacy settings
						.list-block
							.list-block-item.d-flex.justify-content-between
								a( href='#' )
									span.pr-1.fa-gear
									span Email settings

							.list-block-item.d-flex.justify-content-between.align-items-center
								a( href='#' )
									span.pr-1.fa-envelope
									span Messages
								span.badge.badge-warning 2

							.list-block-item.d-flex.justify-content-between.align-items-center
								a( href='#' )
									span.pr-1.fa-user
									span Friends
								span.badge.badge-warning 6

					.list-block-container.list-block-lg
						.list-block-title Tags
						.list-block
							.list-block-item.d-flex.justify-content-between
								a( href='#' )
									span Clients
								span.fa-circle.text-warning

							.list-block-item.d-flex.justify-content-between
								a( href='#' )
									span Contractors
								span.fa-circle.text-success

							.list-block-item.d-flex.justify-content-between
								a( href='#' )
									span Employees
								span.fa-circle.text-primary

							.list-block-item.d-flex.justify-content-between
								a( href='#' )
									span Suppliers
								span.fa-circle.text-info

					.list-block-container.list-block-lg
						.list-block-title Labels
						.list-block
							.list-block-item.d-flex.justify-content-between.align-items-center
								a( href='#' )
									span Clients
								span.badge.badge-pill.badge-primary 6

							.list-block-item.d-flex.justify-content-between.align-items-center
								a( href='#' )
									span Contractors
								span.badge.badge-pill.badge-success 8

							.list-block-item.d-flex.justify-content-between.align-items-center
								a( href='#' )
									span Employees
								span.badge.badge-pill.badge-info 11

							.list-block-item.d-flex.justify-content-between.align-items-center
								a( href='#' )
									span Suppliers
								span.badge.badge-pill.badge-warning 13

			.col-md-8.col-lg-9.col-xxl-10.border-md-left
				.bg-white
					.bg-200.p-3
						.group-15.d-flex.flex-wrap.align-items-center.justify-content-lg-between
							.flex-grow-1
								.btn-group
									button.btn.btn-info: span.fa-refresh
									button.btn.btn-info: span.fa-pencil
							div
								| Showing
								= ' '
								strong 15
								= ' '
								| of
								= ' '
								strong 253
							.btn-group
								button.btn.btn-info: span.fa-star
								button.btn.btn-info: span.fa-calendar
								button.btn.btn-info: span.fa-trash
							.btn-group
								+button-dropdown({
									addClass: 'btn-group',
									btnIcon: 'fa-tags',
									list: [
										{text: 'Work'},
										{text: 'Important'},
										{text: 'Favorites'},
										{divider: true},
										{text: '<span class="fa-plus pr-1"></span>Create new'}
									]
								}).btn-info

								+button-dropdown({
									addClass: 'btn-group',
									btnIcon: 'fa-folder',
									list: [
										{text: 'Work'},
										{text: 'Important'},
										{text: 'Favorites'},
										{divider: true},
										{text: '<span class="fa-plus pr-1"></span>Create new'}
									]
								}).btn-info
							.btn-group
								button.btn.btn-info: span.fa-chevron-left
								button.btn.btn-info: span.fa-chevron-right

					.table-responsive
						table.table.table-borderless.table-sm.table-hover.table-align-1
							thead
								tr.border-bottom
									th( scope='col' ) Select
									th( scope='col' ) Star
									th( scope='col' ) Sender
									th( scope='col' ) Label
									th( scope='col', style='min-width: 200px;' ) Subject
									th( scope='col', style='min-width: 100px;' ) Date
							tbody
								tr.row-action
									th( scope='row' )
										+checkbox( {
											id: 'check1'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-primary Meeting
									td Lorem ibsum dolor sit amet
									td March 11
								tr.row-action
									th( scope='row' )
										+checkbox( {
											id: 'check2'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Disney
									td: .badge.badge-success Work
									td Lorem ibsum dolor sit amet
									td March 11
								tr.row-action
									th( scope='row' )
										+checkbox( {
											id: 'check3'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Marvel
									td: .badge.badge-success Work
									td Lorem ibsum dolor sit amet
									td March 11
								tr.row-action
									th( scope='row' )
										+checkbox( {
											id: 'check4'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Microsoft
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
								tr.row-action
									th( scope='row' )
										+checkbox( {
											id: 'check5'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
								tr
									th( scope='row' )
										+checkbox( {
											id: 'check6'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
								tr
									th( scope='row' )
										+checkbox( {
											id: 'check7'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
								tr
									th( scope='row' )
										+checkbox( {
											id: 'check8'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
								tr
									th( scope='row' )
										+checkbox( {
											id: 'check9'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
								tr
									th( scope='row' )
										+checkbox( {
											id: 'check10'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
								tr
									th( scope='row' )
										+checkbox( {
											id: 'check11'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
								tr
									th( scope='row' )
										+checkbox( {
											id: 'check12'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
								tr
									th( scope='row' )
										+checkbox( {
											id: 'check13'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
								tr
									th( scope='row' )
										+checkbox( {
											id: 'check14'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
								tr
									th( scope='row' )
										+checkbox( {
											id: 'check15'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
								tr
									th( scope='row' )
										+checkbox( {
											id: 'check16'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
								tr
									th( scope='row' )
										+checkbox( {
											id: 'check17'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
								tr
									th( scope='row' )
										+checkbox( {
											id: 'check18'
										} ).custom-checkbox-light
									td: span.fa-star.lead
									td Sony Inc
									td: .badge.badge-info Social
									td Lorem ibsum dolor sit amet
									td March 11
