extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Treeview';

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	//- Info panel
	section.section-sm.bg-200
		.container-fluid
			.row.row-30
				.col-md-6
					h3 jQuery jstree - #[small Dynamic DataTree]
					ul.list-unstyled.list-md.mt-2
						li
							span.fa-exclamation-circle.pr-2
							b Author:
							span  Vakata
						li
							span.fa-exclamation-circle.pr-2
							b License:
							span  MIT license
						li
							span.fa-exclamation-circle.pr-2
							b Website:
							a( href='https://github.com/vakata/jstree' )  www.github.com/vakata/jstree

	section.section-sm
		.container-fluid
			.row.row-30
				//- Default jsTree
				.col-md-6
					.panel
						.panel-header
							h3.panel-title Default jsTree
						.panel-body
							.jstree
								ul
									li Node 1
									li
										| Folder 1
										ul
											li Node 2.1
											li Node 2.2

				//- Checkbox jsTree
				.col-md-6
					.panel
						.panel-header
							h3.panel-title Checkbox jsTree
						.panel-body
							.jstree( data-jstree-plugin='checkbox' )
								ul
									li Node 1
									li
										| Folder 1
										ul
											li Node 2.1
											li Node 2.2

				//- jsTree with context menu
				.col-md-6
					.panel
						.panel-header
							h3.panel-title jsTree with context menu
						.panel-body
							.jstree( data-jstree-plugin='contextmenu' )
								ul
									li Node 1
									li
										| Folder 1
										ul
											li Node 2.1
											li Node 2.2
									li Node 3
									li Node 4
									li
										| Folder 2
										ul
											li Node 5.1
											li Node 5.2

				//- jsTree Drag & drop
				.col-md-6
					.panel
						.panel-header
							h3.panel-title jsTree Drag & drop
						.panel-body
							.jstree( data-jstree-plugin='dnd' )
								ul
									li Node 1
									li
										| Folder 1
										ul
											li Node 2.1
											li Node 2.2
									li Node 3
									li
										| Folder 2
										ul
											li Node 2.1
											li Node 2.2
									li
										| Folder 3
										ul
											li Node 2.1
											li Node 2.2

				//- jsTree Wholerow
				.col-md-6
					.panel
						.panel-header
							h3.panel-title jsTree Wholerow
						.panel-body
							.jstree( data-jstree-plugin='wholerow' )
								ul
									li Node 1
									li
										| Folder 1
										ul
											li Node 2.1
											li Node 2.2

				//- jsTree Types
				.col-md-6
					.panel
						.panel-header
							h3.panel-title jsTree Types
						.panel-body
							.jstree( data-jstree-plugin='types' )
								ul
									li( data-jstree='{"type":"root"}' ) Node 1
									li( data-jstree='{"type":"root"}' )
										| Folder 1
										ul
											li Node 2.1
											li Node 2.2

				//- jsTree Search
				.col-md-6
					.panel
						.panel-header
							h3.panel-title jsTree Search
						.panel-body
							input.form-control.jstree-search( type='text' )
							.jstree( data-jstree-plugin='search' )
								ul
									li Node 1
									li
										| Folder 1
										ul
											li Node 2.1
											li Node 2.2
									li Node 3
									li
										| Folder 2
										ul
											li Node 2.1
											li Node 2.2
									li
										| Folder 3
										ul
											li Node 2.1
											li Node 2.2
