/* 색깔은 오렌지, 글씨스타일 알아서, 글씨는 조금 굵게, 글씨 크기는 25pt */
/* 보통 여백이나 사이즈는 px 단위, 글씨는 pt 단위로 많이 함 */
h2 {
	color: orange;
	font-style: oblique;
	font-weight: bold;
	font-size: 25pt;
}
/*p 태그를 선택자로 지정... 글씨 색깔.. font-size: 25pt; 궁서체(?)*/
p {
	font-size: 25pt;
	color: purple;
	font-family: cursive;
}
