@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
body{
  background-color: #141519;
}
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#1e2026;
border-right:1px solid #2c313a;
position:fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.card {
  padding: 24px;
  background-color: #202329;
}

table{
 margin: 120px;
}

::selection {
  background: #212129;
}

.search-wrapper {
   position: absolute;
   top: 25px;
   left: 130px;
}
.search-wrapper .input-holder {    
   height: 70px;
   width:70px;
   overflow: hidden;
   background: rgba(255,255,255,0);
   border-radius:6px;
   position: relative;
   transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
   width:450px;
   border-radius: 50px;
   background: rgba(0,0,0,0.5);
   transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
   width:100%;
   height: 50px;
   padding:0px 70px 0 20px;
   opacity: 0;
   position: absolute;
   top:0px;
   left:0px;
   background: transparent;
   box-sizing: border-box;
   border:none;
   outline:none;
   font-family:"Open Sans", Arial, Verdana;
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   color:#FFF;
   transform: translate(0, 60px);
   transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
   transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
   opacity: 1;
   transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
   width:70px;
   height:70px;
   border:none;
   border-radius:6px;
   background: #47cf73;
   padding:0px;
   outline:none;
   position: relative;
   z-index: 2;
   float:right;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
   width: 50px;
   height:50px;
   margin: 10px;
   border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
   width:22px;
   height:22px;
   display: inline-block;
   vertical-align: middle;
   position:relative;
   transform: rotate(45deg);
   transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
   transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
   position: absolute; 
   content:'';
}
.search-wrapper .input-holder .search-icon span::before {
   width: 4px;
   height: 11px;
   left: 9px;
   top: 18px;
   border-radius: 2px;
   background: #fff;
}
.search-wrapper .input-holder .search-icon span::after {
   width: 14px;
   height: 14px;
   left: 0px;
   top: 0px;
   border-radius: 16px;
   border: 4px solid #fff;
}
.search-wrapper .close {
   position: absolute;
   z-index: 1;
   top:24px;
   right:20px;
   width:25px;
   height:25px;
   cursor: pointer;
   transform: rotate(-180deg);
   transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
   transition-delay: 0.2s;
}
.search-wrapper.active .close {
   right:-50px;
   transform: rotate(45deg);
   transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
   transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
   position:absolute;
   content:'';
   background: #FE5F55;
   border-radius: 2px;
}
.search-wrapper .close::before {
   width: 5px;
   height: 25px;
   left: 10px;
   top: 0px;
}
.search-wrapper .close::after {
   width: 25px;
   height: 5px;
   left: 0px;
   top: 10px;
}

#chat-circle {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #47cf73;
  width: 1px;
  height: 1px;  
  border-radius: 50%;
  color: white;
  padding: 28px;
  cursor: pointer;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.chat-box {
  display:none;
  background: #efefef;
  position:fixed;
  right:30px;
  bottom:50px;  
  width:350px;
  max-width: 85vw;
  max-height:100vh;
}
.chatIcon{
  position: relative;
  left: -15px;
  top: -18px;
  font-size: 30px;
}
.chat-box-toggle {
  float:right;
  margin-right:15px;
  cursor:pointer;
}
.chat-box-header {
  background: #2c313a;
  height:40px;
  color:white;
  text-align:center;
  font-size:20px;
  padding-top:17px;
}

#chat-input {
  background: #f4f7f9;
  width:283px; 
  position:relative;
  height:47px;  
  padding-top:10px;
  padding-right:50px;
  padding-bottom:10px;
  padding-left:15px;
  border:none;
  resize:none;
  outline:none;
  border:1px solid #ccc;
  color:#888;
  border-top:none;
}

.chat-submit {  
  position:absolute;
  bottom:3px;
  right:10px;
  background: transparent;
  box-shadow:none;
  border:none;
  border-radius:50%;
  color:#47cf73;
  width:35px;
  height:35px;  
}
.chat-logs {
  padding:15px; 
  height:370px;
  overflow-y:scroll;
}


@media only screen and (max-width: 500px) {
   .chat-logs {
        height:40vh;
    }
}

.chat-msg.user > .msg-avatar img {
  width:45px;
  height:45px;
  border-radius:50%;
  float:left;
  width:15%;
}
.chat-msg.self > .msg-avatar img {
  width:45px;
  height:45px;
  border-radius:50%;
  float:right;
  width:15%;
}
.cm-msg-text {
  overflow: hidden;
  background:white;
  padding:10px 15px 10px 15px;  
  color:#666;
  max-width:75%;
  float:left;
  margin-left:10px; 
  position:relative;
  margin-bottom:20px;
  border-radius:30px;
}
.chat-msg {
  clear:both;    
}
.chat-msg.self > .cm-msg-text {  
  float:right;
  margin-right:10px;
  background: #5A5EB9;
  color:white;
}
